@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* TODO: Remove `visible` and `invisible` once `visibility` is
           re-enabled in tailwind.config.js. */
  .visible {
    visibility: visible;
  }

  .invisible {
    visibility: hidden;
  }

  .key {
    @apply rounded-xl border border-solid px-2 py-0.5;
  }

  /* For Firefox 64+ and Firefox for Android 64+ */
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  /* For Blink- and WebKit-based browsers */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
